.product ul {
    list-style: none;
    padding-inline-start: 0px;
}

.product li span {
    color: green;
    margin-right: 1rem;

}

.product li {
    padding: 2px;
    color: #515769;
}

.product h4 span {
    color: black;
}

.product {
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.427); 
    margin-left: 2%;
    margin-right: 2%;
    max-width: 45%;
    background-color: white;
    padding: 5%;
    padding-top: 1%;
}

 #essentiel {
    box-shadow: 0px 3px 5px rgba(4, 164, 9, 0.31); 

}

#expert {
    box-shadow: 0px 3px 5px rgba(4, 116, 164, 0.31); 

}

#pricing {
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

#pricing h3 {
    color: #515769;
}

#options {
    margin-top: 40px;
}

.welcome-message {
    padding: 2%;
    background-color: white;
    margin-right: auto;
    margin-left: 10%;
    max-width: 30%;
  }

  .moto {
      font-size:xx-large;
      font-weight: bolder;
      color: #515769;
  }

  .welcome-message p:nth-child(2){
    padding: 0;
    margin-bottom: 0px;
}

#about h2 {
    text-align: center;
    color: #515769;
}


.option-list-item {
    position: relative;
    font-size: 13px;
    color: #81848f;
    padding-left: 20px;
    margin-bottom: 10px;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.pricing-top {
    background-color: #337ab7;
    padding: 5% 3% 5% 3%;
}

.pricing-top #pricing-icon  {
    color: white;
    font-size: 48px;
}

#price .pricing {
    padding: 0;
    max-width: 500px;

}

.pricing-top .toogle {
    width: 60px;
    height: 30px;
    background-color:rgb(0, 224, 0);
    margin: 0px 10px 0px 10px;
    border-radius: 30px;
} 

.pricing-top .toogle-month {
    width: 20px;
    height: 20px;
    background-color: white;
    margin: 5px;
    border-radius: 30px;
} 

.pricing-top .toogle-year {
    width: 20px;
    height: 20px;
    background-color: white;
    margin: 5px;
    margin-left: 30px;
    border-radius: 30px;
} 

.pricing h3 {
   color: #515769
}

.option-list-item #option-price {
    font-weight: 700;
    font-size: 22px;
    color: #515769;
}
